.helper {
  background-color: $pastel-blue;
  border-radius: $border-radius;
  color: white;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem;
  width: 20rem;
  &__child {
    margin-bottom: 0.5rem;
  }
  &__interaction {
    width: 30%;
    margin: 0 auto;
    overflow-y: hidden;
    &--large {
      width: 60%;
    }
    &__previous {
      display: inline;
      &__button {
        background-color: $light-grey;
        color: $medium-blue
      }
      margin-right: 0.25rem;
    }
    &__next {
      display: inline;
      &__button {
        background-color: $light-grey;
        color: $medium-blue
      }
    }
  }
}
