// Breakpoints
$mini: 30em !default;
$sm: 40em !default; //648px
$md: 52em !default;
$lg: 64em !default; // 1280px;
$xl: 75em !default;

// Variables
$border-radius: 0.25rem !default;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !default;
$box-shadow-hover: 0 0 10px rgba(0,0,0,0.4) !default;
$font-family: "Raleway", "Helvetica Neue", Arial, sans-serif !default;
$header-height: 5rem !default;
$total-background-image: linear-gradient(to bottom, $light-grey, white) !default;
$light-font-color: $pastel-grey !default;
$middle-font-color: $middle-grey !default;
$dark-font-color: $dark-grey !default;
$transition: all 0.4s ease-out !default;
